<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd"> -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd"
        default-init-method="initialize" default-destroy-method="dest">
	<bean id="triangle" class="com.brathisv.spring.Triangle" init-method="init"  destroy-method="destroy">
		<property name="type" value="Equilateral"></property>
		<property name="point2">
			<bean id="point2" class="com.brathisv.spring.Point">
				<property name="x" value="-20"></property>
				<property name="y" value="0"></property>
			</bean>
		</property>
		<property name="point3" ref="point3"></property>
		<property name="lists">
			<list>
				<value>one</value>
				<value>two</value>
				<value>three</value>
			</list>
		</property>
		<property name="sets">
			<set>
				<value>One</value>
				<value>Two</value>
				<value>One</value>
				<value>Three</value>
			</set>
		</property>
		
		<property name="maps">
			<map>
				<entry key="one" value="1"></entry>
				<entry key="two" value="2"></entry>
				<entry key="three" value="3"></entry>
				<entry key="two" value="22"></entry>
			</map>
		</property>
	</bean>
	<bean id="pointt" class="com.brathisv.spring.Point">
		<qualifier value="point1Related"></qualifier>
		<property name="x" value="0"></property>
		<property name="y" value="0"></property>
	</bean>
	
	<alias name="triangle" alias="tri"/>

<!-- autowired -->
	<bean id="point3" class="com.brathisv.spring.Point">
		<property name="x" value="${point3.x}"></property>
		<property name="y" value="${point3.y}"></property>
	</bean>

	<bean id="circle" class="com.brathisv.spring.Circle" name="cir">
		<constructor-arg value="This "></constructor-arg>
	</bean>
	<bean class="com.brathisv.spring.DisplayNameBeanPostProcessor"/>
	<bean class="com.brathisv.spring.BeanFactoryPP"/>
	<!-- <bean class="org.springframework.beans.factory.config.PropertyPlaceHolderConfigurer">
		<property name="locations" value="classpath:ApplicationResource.properties"></property>
	</bean> -->
	<!-- <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>
	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/> -->
	<context:annotation-config ></context:annotation-config>
	<context:property-placeholder location="classpath:ApplicationResource.properties"/>
</beans>